

<div class="container">
	<div class="jumbotron text-center" style="background-color:black;position: relative; top: 20px;">
<i class="fa fa-check-circle" aria-hidden="true" style="text-align: center; color:green; font-size: 2000%;"></i>
</div>
<div  style="position: relative;">
	<div class="jumbotron text-center">
	  <h1 class="display-3">Нову родину згруповано!</h1>
          
	  
	    <a class="btn btn-outline-dark" href="/" role="button" style="font-size: 200%">Продовжити роботу</a>
	</div>
</div>
</div>