<link href="https://fonts.cdnfonts.com/css/coca-cola-ii" rel="stylesheet">
                

<div class="container" style="color: white; border-left: 1px solid rgb(255, 255, 255);
border-right: 1px solid rgb(255, 255, 255); border-width: 2px;">
  <div >
  </br>
  </br>
  <hr>
  <h1 style="text-align: center;">Про нас</h1>
  <hr>
    <div class="col-md-12 mb-4 mb-md-0">
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-6 mb-0">
            <div class="pt-5">
              <img src="https://i2-prod.chroniclelive.co.uk/incoming/article13902295.ece/ALTERNATES/s1200b/BSP_SML_0711170209JPG.jpg" class="d-block w-100" style="border: 1px solid rgb(255, 255, 255);">
            </div>
          </div>

          <div class="col-6 mb-0">
            <div class="pt-5">
              <hr>
              <h1 style="text-align: center;">Наша співпраця з <span style="font-family: 'Coca Cola ii', sans-serif; font-size: 170%;">CocaCola</span></h1>
              <hr>
              <h1 style="font-size: 140%"><span style="font-family: 'Coca Cola ii', sans-serif; font-size: 170%;">CocaCola</span> почала використання розписних вантажівок, кожена з яких обвішена багаточисельними ліхтариками, в 1995 році. Вона охопила не тільки США, але й інші країни на різних континентах.
              Завдяки нашій компанії в Україні в 2021 році яскраво-червоні вантажівки відвідали Луцьк, Івано-Франківськ, Полтаву, Харків, Суми та ряд інших міст. Напівпричепи з напоями везли вантажівки для американского рынка, представниками яких є: Kenworth T2000 і Volvo NH-серії.
              </h1>

            </div>
          </div>
        </div>
      </div>
    </div>
    </br>
    <hr>

    <div class="col-md-12 mb-4 mb-md-0">
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">

          <div class="col-6 mb-0">
            <div class="pt-5">
              <hr>
              <h1 style="text-align: center;">Наша співпраця з <span style="font-family: 'Coca Cola ii', sans-serif; font-size: 170%;">CocaCola</span></h1>
              <hr>
              <h1 style="font-size: 140%"><span style="font-family: 'Coca Cola ii', sans-serif; font-size: 170%;">CocaCola</span> почала використання розписних вантажівок, кожена з яких обвішена багаточисельними ліхтариками, в 1995 році. Вона охопила не тільки США, але й інші країни на різних континентах.
              Завдяки нашій компанії в Україні в 2021 році яскраво-червоні вантажівки відвідали Луцьк, Івано-Франківськ, Полтаву, Харків, Суми та ряд інших міст. Напівпричепи з напоями везли вантажівки для американского рынка, представниками яких є: Kenworth T2000 і Volvo NH-серії.
              </h1>

            </div>
          </div>


          <div class="col-6 mb-0">
            <div class="pt-5">
              <img src="https://i2-prod.chroniclelive.co.uk/incoming/article13902295.ece/ALTERNATES/s1200b/BSP_SML_0711170209JPG.jpg" class="d-block w-100" style="border: 1px solid rgb(255, 255, 255);">
            </div>
          </div>

          
        </div>
      </div>
    </div>
    </br>
    <hr>

    <div class="col-md-12 mb-4 mb-md-0">
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-6 mb-0">
            <div class="pt-5">
              <img src="https://i2-prod.chroniclelive.co.uk/incoming/article13902295.ece/ALTERNATES/s1200b/BSP_SML_0711170209JPG.jpg" class="d-block w-100" style="border: 1px solid rgb(255, 255, 255);">
            </div>
          </div>

          <div class="col-6 mb-0">
            <div class="pt-5">
              <hr>
              <h1 style="text-align: center;">Наша співпраця з <span style="font-family: 'Coca Cola ii', sans-serif; font-size: 170%;">CocaCola</span></h1>
              <hr>
              <h1 style="font-size: 140%"><span style="font-family: 'Coca Cola ii', sans-serif; font-size: 170%;">CocaCola</span> почала використання розписних вантажівок, кожена з яких обвішена багаточисельними ліхтариками, в 1995 році. Вона охопила не тільки США, але й інші країни на різних континентах.
              Завдяки нашій компанії в Україні в 2021 році яскраво-червоні вантажівки відвідали Луцьк, Івано-Франківськ, Полтаву, Харків, Суми та ряд інших міст. Напівпричепи з напоями везли вантажівки для американского рынка, представниками яких є: Kenworth T2000 і Volvo NH-серії.
              </h1>

            </div>
          </div>
        </div>
      </div>
    </div>
    </br>
    <hr>


  </div>
</div>




