<main class="container pt-5">
  <div class="row pt-5">
    <div class="col-sm-3 col-12">
      <nav class="nav flex-column">
        <% Category.roots.each do |category| %>
          <%= active_link_to category.title, category_path(category), class: "btn btn-outline-dark", style: "color: white;" %>
          <% if category.has_children? %>
            <% Category.children_of(category).each do |sub_category| %>
              <i><%= active_link_to sub_category.title, category_path(sub_category), class: 'lbtn btn-outline-dark'%></i>
            <% end %>
          <% end %>
        <% end %>

        <div class="input-group mb-3">
          <!-- some input elements or content -->
        </div>

        <div class="price">
          <!-- some price-related content -->
        </div>
      </nav>
    </div>

    <div class="col-sm-9 col-12">
      <div class="row">
        <%= render @products %>
      </div>

      <div class="digg_pagination" style="text-align: center;">
        <%= will_paginate @products, :container => false %>
      </div>
    </div>
  </div>
</main><!-- /.container -->
