<div style="color: white;">
<h1>New Task</h1>

<%= render 'form', products: @product %>
<div class="container">
<%= link_to 'Back', products_path , class: 'btn btn-outline-dark', style: 'color: white' %>
</div>
</div>